



@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

/* text */
.name {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  margin: 40px 20px 80px 20px;
}
.inPut {
  font-family: "Cherry Bomb One", system-ui;
  color: #fff;
  background-color: #FF7A7A;
  font-size: 36px;
  margin: 0 15px 0 0;
  padding: 0 40px;
  border-radius: 45px;
  letter-spacing: 3px;
}
.selectH2 {
  font-family: "Cherry Bomb One", system-ui;
  color: #FF7A7A;
  background-color: #fff;
  font-size: 32px;
  padding: 0 10px;
  border-radius: 45px;
  letter-spacing: 3px;
  /* margin: 0; */
}
.start {
  font-family: "Cherry Bomb One", system-ui;
  color: #FF7A7A;
  border: none;
  /* background-color: transparent; */
  font-size: 48px;
  background: center center url(../assets/claw.png);
  background-repeat: no-repeat;
  padding: 15px 30px;
}
.zukan {
  font-family: "Cherry Bomb One", system-ui;
  color: #fff;
  border: none;
  /* background-color: transparent; */
  font-size: 48px;
  background: center center url(../assets/claw2.png);
  background-repeat: no-repeat;
  padding: 50px 36px;
}
.btn {
  display: flex;
  justify-content: space-between;
  /* padding: 20px 0; */
  margin: 50px 20px;
}
/* パンダ */
/* .Img_panda {
  width: 250px;
  height: auto;
  background-color: #3C80E6;
  padding: 100px 50px 50px;
  border-radius: 77px;
  display: block;
  margin: 0px auto;
} */
.panda-animation-container {
  width: 250px;  /* 调整为你的图片大小 */
  height: 250px; /* 调整为你的图片大小 */
  margin: 20px auto;
  background-color: #3C80E6; /* 保持原来的背景颜色 */
  border-radius: 77px; /* 保持原来的圆角 */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* 确保表情不会超出容器 */
}

.panda-face {
  width: 200px;  /* 可能需要调整 */
  height: 200px; /* 可能需要调整 */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  animation: changePandaFace 3s infinite;
}

@keyframes changePandaFace {
  0%, 100% {
    background-image: url('../assets/パンダ_イラストのコピー.png'); /* 替换为你的第一张熊猫表情图片 */
  }
  33% {
    background-image: url('../assets/イラスト_パンダ_あくび.png'); /* 替换为你的第二张熊猫表情图片 */
  }
  66% {
    background-image: url('../assets/イラスト_パンダ_笑顔.png'); /* 替换为你的第三张熊猫表情图片 */
  }
}